infra/n8n/workflows/quarterly-ingest-and-predict.json
{
  "name": "SalesMap — 분기 수집·예측 배치",
  "meta": {
    "description": "분기마다 (1) BE로 OA-15572 매출 수집·집계 → (2) AI로 다음 분기 예측. 멱등(upsert/이력 누적)이라 재실행 안전. 검증 시 Schedule을 짧은 주기로 두고, 운영은 분기 Cron으로 되돌린다. 인증: X-Internal-Token 헤더 사용 (값 = 각 서버 .env의 INTERNAL_TOKEN)."
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule — 분기 1일 03:00 KST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-160, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 1 1,4,7,10 *"
            }
          ]
        }
      }
    },
    {
      "id": "http-ingest",
      "name": "BE — 매출 수집 (Ingest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [60, 0],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/ingest/sales",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-internal-token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"regionIds\": null,\n  \"quarters\": null,\n  \"industries\": null,\n  \"source\": \"OA-15572\"\n}",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "retryOnFail": false,
      "maxTries": 1
    },
    {
      "id": "if-accepted",
      "name": "IF — acceptedRows > 0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [300, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-accepted",
              "leftValue": "={{ $json.acceptedRows }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "http-predict",
      "name": "AI — 다음 분기 예측 (Batch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, -100],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8100/predict/batch",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "dev-internal-token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"regionIds\": null,\n  \"industries\": null,\n  \"targetQuarter\": null,\n  \"lookbackQuarters\": 16\n}",
        "options": {
          "timeout": 120000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "log-success",
      "name": "Log — 성공 메타데이터",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [780, -100],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a-status",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "a-target",
              "name": "targetQuarter",
              "value": "={{ $json.targetQuarter }}",
              "type": "string"
            },
            {
              "id": "a-processed",
              "name": "processedCells",
              "value": "={{ $json.processedCells }}",
              "type": "number"
            },
            {
              "id": "a-succeeded",
              "name": "succeededCells",
              "value": "={{ $json.succeededCells }}",
              "type": "number"
            },
            {
              "id": "a-failed",
              "name": "failedCells",
              "value": "={{ $json.failedCells }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "log-skipped",
      "name": "Log — 수집 0건, 예측 건너뜀",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [540, 100],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-status",
              "name": "status",
              "value": "skipped",
              "type": "string"
            },
            {
              "id": "s-reason",
              "name": "reason",
              "value": "acceptedRows == 0 — 새 분기 데이터 없음 또는 전건 실패",
              "type": "string"
            },
            {
              "id": "s-failed",
              "name": "failedRows",
              "value": "={{ $json.failedRows }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule — 분기 1일 03:00 KST": {
      "main": [[{ "node": "BE — 매출 수집 (Ingest)", "type": "main", "index": 0 }]]
    },
    "BE — 매출 수집 (Ingest)": {
      "main": [[{ "node": "IF — acceptedRows > 0", "type": "main", "index": 0 }]]
    },
    "IF — acceptedRows > 0": {
      "main": [
        [{ "node": "AI — 다음 분기 예측 (Batch)", "type": "main", "index": 0 }],
        [{ "node": "Log — 수집 0건, 예측 건너뜀", "type": "main", "index": 0 }]
      ]
    },
    "AI — 다음 분기 예측 (Batch)": {
      "main": [[{ "node": "Log — 성공 메타데이터", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "active": false
}
